{% extends 'base.pug'%}
{%block title%} Login {%endblock%}
{%block content%}
h2 Login
form(method="post")
    {% csrf_token %}
    {{ form.as_p }}
    button(type="submit") Send
    div
        a(href="{%url 'password-restore'%}") Restore password
{%endblock%}