{% extends 'cabinet.pug'%}
{%block title%} Change password {%endblock%}
{%block cabinet%}
h3 Change password
form(method="post")
    {% csrf_token %}
    {{ form.as_p }}
    button(type="submit") Update
{%endblock%}