{% extends 'base.pug'%}
{%block title%} Cabinet {%endblock%}
{%block content%}
h2.border-bottom Cabinet
div.d-flex.align-items-start
    div.px-3
        ul
            li
                a(href="{%url 'mailing'%}") Mailing lists
            li
                a(href="{%url 'message'%}") Messages
            li
                a(href="{%url 'recipient'%}") Recipients
            li
                a(href="{%url 'password-change'%}") Change password

    div.px-3.border-start.px-3
        {%block cabinet%}{%endblock%}
{%endblock%}