{% extends 'base.pug'%}
{%block title%} Products list {%endblock%}
{%block content%}
{% load static %}
div Mailing lists all: {{lists}}
div Mailing lists active: {{active_lists}}
div Recipients: {{recipients}}
{%endblock%}