{% extends 'base.pug'%}
{%block title%} Products list {%endblock%}
{%block content%}
{% load static %}
div Mailing lists: {{lists}}
div Active mailing: lists {{active_lists}}
div Recipients: {{recipients}}
{%endblock%}