{% extends 'cabinet.pug'%}
{%block cabinet%}
h3 Mailing lists
    a.bi.bi-plus-circle-fill(title="Add mailing list" href="{%url 'mailing-create'%}")

table.table.table-striped.table-bordered.table-hover
    tr
        th Message subject
        th Start
        th End
        th Status
    {%for item in list%}
    tr
        td
            a(href="{%url 'mailing-update' item.id%}") {{item.message.subject}}
        td {{item.start}}
        td {{item.end}}
        td {{item.status}}
    {%endfor%}
{%endblock%}