{% extends 'cabinet.pug'%}
{%block title%} Message {%endblock%}
{%block cabinet%}
h3  {%if request.resolver_match.url_name == 'message-update' %} Update {%else%}Create {%endif%} message
form(method="post")
    {% csrf_token %}
    {{ form.as_p }}
    button(type="submit") Send

{%endblock%}