{% extends 'cabinet.pug'%}
{%block cabinet%}
h3 Messages
    a.bi.bi-plus-circle-fill(title="Add messages" href="{%url 'message-create'%}")

div
    {%for item in list%}
    div
        a(href="{%url 'message-update' item.id%}") {{item.subject}}
    {%endfor%}
{%endblock%}