{% extends 'cabinet.pug'%}
{%block title%} Recipient {%endblock%}
{%block cabinet%}
h3  {%if request.resolver_match.url_name == 'recipient-update' %}  Update {%else%}Create {%endif%} recipient
form(method="post")
    {% csrf_token %}
    {{ form.as_p }}
    button(type="submit") Send

{%endblock%}